NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_CONTRACT_ID=CANEW3ZQL7QVB7ZAH5R6XXEUZX3TGO5CONSPXBAFSPWSEK2ITBZJ7WT5
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Fee Sponsorship (Gasless Transactions)
NEXT_PUBLIC_FEE_SPONSOR_ENABLED=true
NEXT_PUBLIC_FEE_SPONSOR_PUBLIC_KEY=
FEE_SPONSOR_SECRET_KEY=
